<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="production" value="false"/>
    <!-- Is email service configured and Ok to send -->
    <add key="Email:Enabled" value="true"/>
    <!-- If non-production, what email address should be used for send-to -->
    <add key="Email:TestEmailName" value="philhuhn@yahoo.com"/>
    <!-- What email service to use values: SendGrid/Mailgun/Smtp -->
    <add key="Email:UseService" value="Smtp"/>
    <!-- for further SMTP configuration, see mailSettings -->
    <!-- The <api key> for either SendGrid or Mailgun -->
    <add key="Email:ApiKey" value="SG.11111111111"/>
    <!-- The Mailgun requires both ApiKey and this Domain name -->
    <add key="Email:MailgunDomain" value="MG.Domain"/>
    <!-- Default folder to execute the ping command -->
    <add key="Services:PingDir" value="C:\Windows\System32\"/>
    <!-- The ping command to execute, string.Format , IP address is the 0 arg -->
    <add key="Services:PingCmd" value="ping -n 1 -a {0}"/>
    <!-- Default folder to execute the whois command -->
    <add key="Services:WhoisDir" value="C:\Windows\System32\"/>
    <!-- The whois command to execute, string.Format , IP address is the 0 arg -->
    <add key="Services:WhoisCmd" value="jwhois {0}"/>
    <!-- Audit=0, Error = 1, Warning=2, Info=3, Debug=4 -->
    <add key="LogLevel" value="4"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
